/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    header {
        padding: 0;
    }

    .logo {
        width: 180px;
    }

    .menu ul li a {
        margin-bottom: 10px;
        padding: 0 10px !important;
    }
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    header {
        padding: 5px 0;
    }

    .logo {
        width: 180px;
    }

    .menu ul li a {
        margin-bottom: 15px;
        padding: 0 10px !important;
    }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    header {
        padding: 5px 0;
    }

    .menu ul li a {
        margin-bottom: 10px;
        padding: 0 15px !important;
    }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/*  Extra extra large devices ( extra large desktops, 1400px and up) */
@media (min-width: 1400px) {}