/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    header {
        padding: 0;
    }

    .logo {
        width: 180px;
    }

    .menu ul li a {
        margin-bottom: 10px;
        padding: 0 10px !important;
    }

    /* banner start */

    .banner {
        padding-bottom: 60px;
    }

    .b_text {
        text-align: center;
    }

    .b_h1 {
        margin-bottom: 10px;
        padding: 0;
        font-size: 30px;
        line-height: 40px;
    }

    .b_p2 {
        padding: 0;
        line-height: 30px;
    }

    .btn_link {
        margin: 15px auto 0;
    }

    .b_img {
        margin-bottom: 20px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* banner end */

    /* feature start */

    .c_padding {
        padding-bottom: 60px;
    }

    .s_feature {
        margin-top: 24px;
    }

    .sf_img img {
        width: 60px;
        height: 70px;

    }

    /* feature end */

    /* course start  */
    .course {}

    .c_h1 {
        font-size: 25px;
    }

    .course_item {
        margin: 30px 0 0;
        padding: 10px 10px 15px;
    }

    .c_h2 {
        font-size: 20px;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 0;
    }

    .c_left ul li img,
    .c_right ul li img {
        width: 18px;
    }

    .c_left ul li span,
    .c_right ul li span {
        font-weight: 400;
    }

    /* course end */

    /* testimony start */

    .t_item {
        margin-top: 30px;
    }

    .t_img {
        padding: 0 60px 20px;
    }

    .t_text {
        text-align: center;
    }

    /* testimony end */
    
    /* footer top start */
    .footer_top {
        padding: 55px 0 30px;
    }

    .ft_details {
        margin-bottom: 40px;
        padding-right: 0;
    }

    .ft_links:last-child {
        margin-bottom: 35px;
    }

    /* footer top end*/
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    header {
        padding: 5px 0;
    }

    .logo {
        width: 180px;
    }

    .menu ul li a {
        margin-bottom: 15px;
        padding: 0 10px !important;
    }

    /* banner start */

    .b_text {
        text-align: center;
    }

    .b_h1 {
        padding: 0 40px 0;
        font-size: 35px;
        line-height: 50px;
    }

    .b_p2 {
        padding: 0 30px 0;
        line-height: 30px;
    }

    .btn_link {
        margin: 15px auto 0;
    }

    .b_img {
        margin-bottom: 30px;
        padding: 0 50px;
    }

    /* banner end */

    /* feature start */
    .c_padding {
        padding-bottom: 80px;
    }

    .s_feature {
        margin-top: 24px;
    }

    /* feature end */


    /* course start  */

    .c_h1 {
        font-size: 25px;
    }

    .course_item {
        margin: 40px 70px 0;
        padding: 20px 15px 25px;
    }

    /* course end  */

    /* testimony start */

    .t_item {
        margin-top: 30px;
    }

    .t_img {
        padding: 0 120px 20px;
    }

    .t_text {
        text-align: center;
    }

    /* testimony end */
    /* footer top start */
    .ft_details {
        margin-bottom: 35px;
        padding: 0 50px;
    }

    /* footer top end*/
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    header {
        padding: 5px 0;
    }

    .menu ul li a {
        margin-bottom: 10px;
        padding: 0 15px !important;
    }

    /* banner start*/

    .b_text {
        text-align: center;
    }

    .b_h1 {
        padding: 0 90px 0;
    }

    .b_p2 {
        padding: 0 80px 0;
    }

    .btn_link {
        margin: 15px auto 0;
    }

    .b_img {
        margin-bottom: 30px;
        padding: 0 70px;
    }

    /* banner end */

    /* feature start */
    .c_padding {
        padding-bottom: 80px;
    }

    .s_feature {
        margin-top: 24px;
    }

    /* feature end */


    /* course start  */
    .course_item {
        margin: 40px 100px 0;
    }

    /* course end  */

    /* testimony start */

    .t_item {
        margin-top: 40px;
    }

    /* testimony end */

    /* footer top start */
    .ft_details {
        margin-bottom: 40px;
        padding: 0 70px;
    }

    /* footer top end */

}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* course */
    .course_item {
        padding: 24px 15px 30px;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 0;
    }

    .c_left ul li img,
    .c_right ul li img {
        width: 18px;
    }

    .c_left ul li span,
    .c_right ul li span {
        font-weight: 400;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/*  Extra extra large devices ( extra large desktops, 1400px and up) */
@media (min-width: 1400px) {

    /* banner start */
    .b_h1 {
        padding-right: 100px;
    }

    .b_p2 {
        padding-right: 90px;
        line-height: 36px;
    }

    /* banner end */

    /* feature start */

    s_feature {
        padding: 65px 0 60px;
    }

    /* feature end */
    /* footer top start */
    .ft_details {
        padding-right: 130px;
    }

    /* footer top end */
}
